@keyframes cellFoundBlink {
  0%,
  50% {
    background-color: rgb(202, 241, 202);
  }
  51%,
  100% {
    background-color: white;
  }
}

// would be better with @container queries but couldn't get them working...
@mixin cellSizeBy($type: 'width', $ratio: 1) {
  $query: 'min-' + $type;
  font-size: 8px;
  border-radius: 4px;

  @media ($query: calc(170px * $ratio)) {
    font-size: 10px;
  }
  @media ($query: calc(240px * $ratio)) {
    font-size: 14px;
  }
  @media ($query: calc(250px * $ratio)) {
    font-size: 16px;
  }
  @media ($query: calc(270px * $ratio)) {
    font-size: 18px;
  }
  @media ($query: calc(300px * $ratio)) {
    font-size: 20px;
    border-radius: 6px;
  }
  @media ($query: calc(350px * $ratio)) {
    font-size: 24px;
    border-radius: 8px;
  }
  @media ($query: calc(420px * $ratio)) {
    font-size: 28px;
  }
  @media ($query: calc(500px * $ratio)) {
    font-size: 32px;
    border-width: 3px;
  }
  @media ($query: calc(600px * $ratio)) {
    font-size: 40px;
  }
  @media ($query: calc(700px * $ratio)) {
    font-size: 50px;
  }
  @media ($query: calc(800px * $ratio)) {
    font-size: 72px;
  }
}

.root {
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #cdcdcd;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellContainer {
  container-type: inline-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  aspect-ratio: 1;
  width: 100%;
  margin: 3px;
  border: 2px solid grey;
  border-radius: 6px;
  background-color: white;
  font-weight: bold;
  font-size: 65cqw;
  transition: background-color 200ms;

  display: flex;
  justify-content: center;
  align-items: center;

  &.empty {
    border-color: transparent;
    background-color: transparent;
  }

  &.found {
    border-color: green;
    animation: cellFoundBlink 400ms infinite;
    color: green;
  }

  @container (min-width: 30px) {
    font-size: 80cqw;
  }
}

.small {
  font-size: 85%;
  position: relative;
  left: -2px;
  top: 2px;

  @media (max-width: 240px) {
    left: -1px;
    top: 1px;
  }
}
